/* MAIN FEATURES */

html { 
    scroll-behavior: smooth; 
}

:root {
    color-scheme: light dark;
    --font-display: 'Carter One', sans-serif;
    --font-sans-serif: 'Raleway', sans-serif;
}

::-moz-selection { 
    color: white;
    background: var(--highlight-color-darker);
}
  
::selection {
    color: white;
    background: var(--highlight-color-darker);
}

body.light {
    --background-color: rgb(230, 230, 230);
    --background-color-dimmed: rgba(230, 230, 230, 0.8);
    --text-color: rgb(31, 31, 21);
    --highlight-color: rgb(47, 170, 96);
    --highlight-color-darker: rgb(47, 170, 96);
    --light-color: rgb(255, 255, 255);
    --highlight-color-dimmed: rgb(80, 75, 31);
    --last-name-color: rgb(70, 70, 70);
    --about-text-color: rgba(0, 0, 0, 0.05);

    --card-background-color: rgb(248, 248, 248);
    --card-text-color: rgb(29, 29, 25);
    --card-tags-color: rgb(230, 230, 230);

    --highlight-color1: rgba(42, 157, 143, 0.5);
    --highlight-color2: rgb(47, 170, 96);
    --highlight-color3: rgba(255, 255, 255, 0.2);

    --background-color1: rgb(230, 230, 230);
    --background-color2: rgb(230, 230, 230);
    --background-color3: rgb(230, 230, 230);

    --nav-background-color: rgb(255, 255, 255);
    --nav-shadow: none;
    --invert: invert(0);

    --background-color-footer: white;

}

body.dark {
    --background-color: rgb(29, 29, 25);
    --background-color-dimmed: rgba(29, 29, 25, 0.8);
    --text-color: rgb(226, 228, 226);
    --highlight-color: rgb(55, 200, 113);
    --highlight-color-darker: rgb(47, 170, 96);
    --light-color: rgb(55, 200, 113);
    --highlight-color-dimmed: rgb(26, 87, 49);
    --last-name-color: rgb(224, 224, 224);
    --about-text-color: rgba(255, 255, 255, 0.05);

    --card-background-color: rgb(226, 228, 226);
    --card-text-color: rgb(29, 29, 25);
    --card-tags-color: rgb(197, 197, 196);

    --highlight-color1: rgba(255, 255, 255, 0.2);
    --highlight-color2: rgba(255, 255, 255, 0.2);
    --highlight-color3: rgba(255, 255, 255, 0.2);

    --background-color1: #1b2f33;
    --background-color2: #28502e;
    --background-color3: #47682c;

    --nav-background-color: rgb(29, 29, 25);
    --nav-shadow: 0 2px 20px -1px rgba(29, 29, 25,1);
    --invert: invert(1);

    --background-color-footer: rgb(24, 24, 20);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-sans-serif), sans-serif;
    height: 100vh;
}

/* SITE BACKGROUND */

.background {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(
        -60deg,
        var(--light-color) 0%,
        var(--light-color) 10%,
        transparent 30%,
        transparent 100%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.background2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}

.background3 {
    animation-duration: 11s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

.noise {
    background-image: url(../images/noise.png);
    background-repeat: repeat;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    animation: noise 0.3s steps(8,end) infinite both;
    z-index: 2;
}

@keyframes noise {
    0%  {background-position: 0px 0px;}
    24% {background-position: 0px 0px;}
    25% {background-position: 20px -20px;}
    49% {background-position: -20px -20px;}
    50% {background-position: -60px 60px;}
    74% {background-position: -60px 60px;}
    75% {background-position: -40px 40px;}
    100% {background-position: -40px 40px;}
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

main {
    width: 100%;
    overflow: hidden;
}

/* MENU */

/* Navigation bar */

.navMenu {
    height: 95px;
    background-color: var(--nav-background-color);
    box-shadow: var(--nav-shadow);
    border-top: var(--highlight-color-darker) 4px solid;
    color: var(--text-color);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9;
}

.nav-links {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 30px;
}

.nav-links a:hover {
    color: var(--highlight-color);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#logo {
    width: 400px;
    margin: auto;
    margin-left: 20px;
    font-weight: 800;
    font-size: 1.5rem;
}

.logo {
    display: inline-block;
    background: var(--highlight-color);
    padding: 20px 10px;
    border-radius: 50px;
    animation: circle 4s 1.5s linear;
}

@keyframes circle {
    0% { padding: 20px 10px; }
    4% { padding: 10px 10px; }
    70% { padding: 10px 10px; }
    76% { padding: 20px 10px; }
}

.between {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    width: 12px;
    animation: writting 4s 1.5s linear ;
}

@keyframes writting {
    0% { width: 12px; }
    9% { width: 12px; }
    10% { width: 24px; }
    14% { width: 24px; }
    15% { width: 38px; }
    19% { width: 38px; }
    20% { width: 47px; }
    24% { width: 47px; }
    25% { width: 58px; }
    29% { width: 58px; }
    30% { width: 71px; }
    34% { width: 71px; }
    35% { width: 87px; }
    42% { width: 87px; }
    70% { width: 12px; }
}

.logo-text {
    display: inline-block;
    color: var(--text-color);
    font-weight: 800;
    letter-spacing: -0.5px;
    transition: all 0.5 ease-in-out;
    animation: logo-text 4s 1.5s linear;
}

@keyframes logo-text {
    0% {
        opacity: 1;
    }
    4% {
        opacity: 0;
    }
    39% {
        transform: translate(-115px, 0px);
        opacity: 0;
        color: var(--nav-background-color);
    }
    42% {
        transform: translate(-115px, 0px);
        opacity: 1;
    }
    50% {
        color: var(--highlight-color);
    }
    60% {
        color: var(--highlight-color);
    }
    70% {
        transform: translate(0px, 0px);
        color: var(--text-color);
    }
}

#logo > a, #logo-mobile > a {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--nav-background-color);
    text-decoration: none;
}


/* Theme switch */

.theme {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    width: 40px;
}

.theme-switch input {
    position: absolute;
    z-index: 9;
    display: none;
}

.slider {
    background-color: var(--text-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked + .slider {
    background-color: var(--highlight-color);
}

input:checked + .slider:before {
    transform: translateX(19px);
}

.slider.round {
    border-radius: 50px;
}

.slider.round:before {
    border-radius: 50%;
}

.desktop > .nav-links > .theme > .dark-icon,
.desktop > .nav-links > .theme > .light-icon {
    height: 17px;
    margin: 0 5px;
}

/* Language selector */

.language {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lang-current {
    cursor: default;
    color: var(--highlight-color);
}

.lang-current > div, .lang-select > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 9px;
    margin-right: 5px;
    font-weight: normal;
}

.lang-current > div {
    background-color: var(--highlight-color);
    
}

.lang-select > div {
    background-color: var(--text-color);
    color: var(--background-color);
}

.lang-select:hover > a {
    color: var(--text-color);
}

.lang-select:hover > div {
    background-color: var(--highlight-color);
    color: white;
}

.dropbtn {
    background-color: transparent;
    color: var(--text-color);
    padding: 16px;
    font-family: var(--font-sans-serif), sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 135px;
    text-align: left;
    vertical-align: middle;
    border-radius: 20px 0 0 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.fa-globe-africa {
    font-size: 1.3em;
    vertical-align: middle;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color-dimmed);
    min-width: 160px;
    z-index: 1;
    border-radius: 0 0 0 20px;
}
  
.dropdown-content a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.dropdown-content > div {
    padding: 17px;
    padding-left: 17px;
    font-size: 0.8em;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    color: var(--highlight-color);
    background-color: var(--background-color-dimmed);
}

.dropdown:hover .dropbtn::after {
    content: " ";
}

/* Menu Mobile */

.navMenu.mobile {
    display: none;
    height: 70px;
}

.navMenu.mobile > #logo {
    margin-left: 0px;
    align-content: center;
}

#logo-mobile {
    width: 400px;
    margin: auto;
    margin-left: 10px;
    font-weight: 800;
    font-size: 1.2rem;
    z-index: 8;
}

#logo-mobile > a {
    font-size: 1.2rem;
}

.menu-toggle {
    z-index: 5;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    opacity: 0;
    z-index: 9;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: var(--highlight-color);
    height: 2px;
    width: 60%;
    transition: all  0.4s ease;
}

.hamburger > div::before,
.hamburger > div::after{
    content: '';
    position: absolute;
    top: -10px;
    background: var(--highlight-color);
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
}

.hamburger > div::after{
    top: 10px;
}

.menu-toggle:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.menu-toggle:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    
}

.menu-toggle:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
}

.menu {
    background-color: var(--background-color-dimmed);
    position: absolute;
    width: 100vw;
    transform: translate(110vw);
    float: right;
    height: 100vh;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.menu-toggle:checked ~ .menu {
    transform: translate(0vw);
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 30px;
}

.menu a:hover {
    color: var(--highlight-color);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu > div, .menu > a {
    padding: 10px;
    padding-left: 20px;
}

.menu > .theme > .dark-icon {
    height: 17px;
    margin-right: 10px;
}

.menu > .theme > .light-icon {
    height: 17px;
    margin-left: 10px;
}

/* GREETING SECTION */

.greeting {
    height: 100vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-grow: 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -9;
    flex-shrink: 0;
    flex-grow: 0;
}

.title > h1 {
    position: relative;
    margin: 0;
    margin-top: -85px;
    padding: 0;
    font-size: 100px;
    text-align: right;
    font-family: var(--font-display);
    font-weight: 400;
    letter-spacing: 0px;


}

.first-name {
    color: var(--highlight-color);
}

.last-name {
    color: var(--last-name-color);
    right: 0px
}

.title-social {
    position: absolute;
    transform: translate(-60px, 90px);
    display: flex;
    z-index: 3;
}

.title-social a {
    font-size: 1.2em;
    color: var(--last-name-color);
    transition: all 0.2s ease-in-out;
    padding-right: 5px;
}

.title-social a:hover,
.title-social a:active {
    color: var(--highlight-color)
}

.short-info {
    margin-left: 50px;
    font-size: 1em;
    z-index: 3;
}

.short-info > p > strong {
    color: var(--highlight-color);
}

.sub-title {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.5em;
    text-align: center;
    z-index: 0;
}

/* BANNER */

.placeholder {
    background: transparent;
    width: 100%;
    height: 100vh;
}

.banner {
    background-color: var(--nav-background-color);
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100vh;
    clip: rect(0, auto, auto, 0);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixed {
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 25%;
}

.banner-top {
    padding-bottom: 30px;
}

.banner-top, .banner-bottom {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing:2px;
    margin: 20px;
}

.banner-content {
    width: 100vw;
}

.banner-logo {
    width: 200px;
    text-align: center;
    padding: 50px 5px;
    font-size: 1em;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.banner-logo > img {
    height: 80px;
    filter: grayscale() brightness(0.7) contrast(0.7);
    transition: all 0.2s ease-in-out;
}

.invert > img {
    filter: var(--invert);
}

.invert:hover > img {
    filter: var(--invert);
}

.banner-bottom {
    padding-top: 30px;
}

.main-carousel {
    width: 100%;
}

.carousel-cell {
    width: 120px;
    height: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-cell:first-of-type {
    padding-left: 10%;
}

.carousel-cell:last-of-type {
    padding-right: 150px;
}

.flickity-button {
    background: transparent;
    margin-left: 20px;
    margin-right: 20px;
    display: none;
}


/* HEADERS */

.full-width {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.full-width.bg-about {
    background-color: var(--background-color);
}

.full-width.bg-projects {
    background-color: var(--background-color-dimmed);
}

.full-width.bg-contact {
    background-color: var(--background-color);
}

h1.section {
    position: relative;
    margin-top: 150px;    
    font-size: clamp(1em, calc(100vw*0.17), 150px);
    font-family: var(--font-display), serif;
    text-align: center;
    letter-spacing: -3px;
    font-weight: normal;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--highlight-color3);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--highlight-color);
    text-shadow: max(-4px, calc(100vw*-0.004)) max(-4px, calc(100vw*-0.004)) var(--highlight-color);
}

h1.section::before {
    content: "<h1>";
    margin-right: 20px;
}

h1.section::after {
    content: "</h1>";
    margin-left: 20px;
}

h1.section::before, h1.section::after {
    display: relative;
    background: var(--highlight-color);
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--background-color);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: transparent;
    text-shadow: none;
    font-family: var(--font-sans-serif);
    letter-spacing: 0.5px;
    opacity: 0.5;
    vertical-align: 35px;
}

.number {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--highlight-color);
    -webkit-text-stroke-width: 0;
    font-weight: 600;
    font-family: var(--font-serif), sans-serif;
    text-shadow: none;
    vertical-align: text-top;
    padding: 40px 0px 10px 0px;
    margin-right: 20px;
    border-bottom: 2px solid var(--highlight-color);
    opacity: 0.8;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


/* PROJECTS SECTION */

#projects, #contact {
    padding: 50px 0px;
    width: fit-content;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
}

.gallery {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.card {
    margin: 15px;
    background-color: var(--card-background-color);
    border-radius: 0 0 20px 20px;
    color: var(--card-text-color);
    width: clamp(100px, 90%, 300px);
    height: fit-content;
    min-height: 600px;
    padding-bottom: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.invisible {
    opacity: 0;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    color: white;
    font-size: 5em;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s linear;
}

.overlay p i {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.card-img {
    overflow: hidden;
    height: 300px;
}

.card-img > img {
    width: clamp(100px, 100%, 300px);
    height: 300px;
    object-fit: cover;
    filter: none;
}

.card:hover .card-img > img {
    filter: brightness(0.7) contrast(0.7);
    transform: rotate(10deg) scale(1.75) translate(50px, 0px) ;
}

.card:hover .overlay {
    opacity: 0.6;
}


.card-text, .card-links {
    margin: 30px;
    margin-bottom: 0;
    font-size: 15px;
}

.card-title {
    font-size: 17px;
    margin: 0;
}

.card-demo a, .card-github a {
    text-decoration: none;
    font-weight: 600;
    color: var(--card-text-color);
}

.card-demo a:hover,
.card-demo a:active,
.card-github a:hover,
.card-github a:active {
    color: var(--highlight-color-darker);
}

.card-demo {
    margin-top: 20px;
}

.card-links {
    margin-top: auto;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.card-tags {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--card-tags-color);
    border-radius: 16px;
    width: calc(100% - 10px);
}

.tag {
    background-color: var(--card-background-color);
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 20px;
    width: content;
    margin: 5px;
    font-weight: 600;
}

/* ABOUT SECTION */

#about {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}

.about-bold {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 1.1em;
}

.fab, .fas {
    display: inline-block;
    width: 20px;
}

.social-links {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.social-links > div {
    width: 100px;
    padding-left: 20px;
}

.triangle-left {
    display: relative;
    vertical-align: middle;
    position: relative;
    width: 0;
    height: 0;
    transform: translate(0px, 30px);
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent var(--about-text-color) transparent transparent;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.about-text {
    padding: 50px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--about-text-color), transparent);
    
}

.about-text > p > strong {
    color: var(--highlight-color);
}

.about a, .about btn {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.about a:hover,
.about a:active,
.about btn:hover,
.about btn:active {
    color: var(--highlight-color);
    text-decoration: none;
}


.first-name-ipa, .last-name-ipa {
    border-bottom: var(--highlight-color) 2px dotted;
    padding: 3px;
}

.first-name-ipa:hover{
    color: var(--highlight-color);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: none;
}

.last-name-ipa:hover {
    color: var(--highlight-color);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: none;
}

.first-name-ipa:hover::before, .last-name-ipa:hover::before {
    position: absolute;
    font-size: 1em;
    text-align: right;
    transform: translate(-20px, -40px);
    font-weight: normal;
    background-color: var(--highlight-color);
    color: var(--card-background-color);
    padding: 5px 10px;
}

.first-name-ipa:hover::before {
    content: "/ 'aw-drews /";

}

.last-name-ipa:hover::before {
    content: "/ sker-'sees /";
}

.name {
    display: inline-flex;
    flex-direction: row;
    gap: 0.2em;
}

#face  {
    width: 300px;
}

.eye-white {
    width: 40px;
    height: 15px;
    margin: 29px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: white;
    top: -278px;
    left: 48px;
    box-shadow: 0px -3px black;
}

.eye-green {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center; 

}

.eye-black {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;    
}

.modal {
    display: block;
    opacity: 0;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: none;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }

.resume-email {
    background-color: var(--card-tags-color);
    color: var(--card-text-color);
}

.resume-submit {
    background-color: var(--card-tags-color);
    color: var(--card-text-color);
    width: 50%;
    margin: auto;
}

.resume-submit:hover {
    border: 1px solid var(--highlight-color-darker);
}

.resume-submit:active {
    background-color: var(--highlight-color-darker);
    color: var(--card-background-color);
}
  
.close {
    color: var(--card-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: var(--highlight-color-darker);
    text-decoration: none;
    cursor: pointer;
} 

.resume-submit {
    margin-top: 20px;
}

/* CONTACT SECTION */

#contact {
    width: calc(100% - 40px);
    padding: 20px;
}

.contact > p {
    text-align: center;
    margin-bottom: 50px;
}

label, input, textarea {
    display: block;
    width: 100%;
    padding: 10px 0;
}

label {
    font-size: 0.9em;
    color: var(--text-color);
}

input, textarea {
    border: 1px solid var(--about-text-color);
    border-radius: 5px;
    background: var(--about-text-color);
    opacity: 1;
    padding-left: 10px;
    outline: none;
    font-family: var(--font-sans-serif), serif;
    color: var(--text-color);
    font-size: 1em;
    box-sizing: border-box;
    font-weight: 400;
}

input:focus, textarea:focus {
    background-color: transparent;
    box-shadow: 0px 0px 3px var(--highlight-color);
}


.submit {
    width: 50%;
    margin: 50px auto;
    background-color: var(--about-text-color);
    color: var(--background-color);
    border: 1px solid var(--about-text-color);
    color: var(--text-color);
    transition: border;
    transition-duration: 0.3s;
    font-weight: 500;
}

.submit:hover {
    border: 1px solid var(--highlight-color);
    background-color: var(--about-text-color);
}

.submit:active {
    border: 1px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--background-color);
}

textarea {
    resize: none;
}


/* FOOTER */

footer {
    width: 100%;
    background-color: var(--background-color-footer);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social > p > a {
    color: var(--highlight-color);
    text-decoration: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    .title-social {
        left: 430px
    }
}

@media only screen and (max-width: 750px) {

    .navMenu.mobile {
        display: flex;
    }
    
    .navMenu.desktop {
        display: none;
    }

    .logo {
        padding: 17px 7px;
    }

    @keyframes circle {
        0% { padding: 17px 7px; }
        4% { padding: 10px 7px; }
        70% { padding: 10px 7px; }
        76% { padding: 17px 7px; }
    }

    .between {
        width: 10px;
    }

    @keyframes writting {
        0% { width: 10px; }
        9% { width: 10px; }
        10% { width: 20px; }
        14% { width: 20px; }
        15% { width: 30px; }
        19% { width: 30px; }
        20% { width: 38px; }
        24% { width: 38px; }
        25% { width: 47px; }
        29% { width: 47px; }
        30% { width: 57px; }
        34% { width: 57px; }
        35% { width: 68px; }
        42% { width: 68px; }
        70% { width: 10px; }
    }

    @keyframes logo-text {
        0% {
            opacity: 1;
        }
        4% {
            opacity: 0;
        }
        39% {
            transform: translate(-90px, 0px);
            opacity: 0;
            color: var(--nav-background-color);
        }
        42% {
            transform: translate(-90px, 0px);
            opacity: 1;
        }
        50% {
            color: var(--highlight-color);
        }
        60% {
            color: var(--highlight-color);
        }
        70% {
            transform: translate(0px, 0px);
            color: var(--text-color);
        }
    }

    .greeting {
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
        height: calc(100vh - 50px);
    }

    .title > h1 {
        font-size: 70px;
        margin-top: -47px;
    }
    
    .short-info {
        margin-top: 120px;
        margin-left: 0px;
        font-size: 1em;
    }

    .title-social {
          transform: none;
          margin-top: -50px;
          left: auto;
    }

    .title-social a {
        font-size: 2em;
        padding: 15px;
    }

    .banner-top, .banner-bottom {
        font-size: 1em;
        text-transform: none;
        letter-spacing: 0px;
        padding: 0;
    }

    h1.section {
        text-align: center;
        -webkit-text-stroke-width: calc(100vw*0.003);
    }

    h1.section::before, h1.section::after {
        content: none;
    }

    .number {
        display: block;
        width: 100px;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .about {
        flex-direction: column;
    }   

    .about-text {
        border-radius: 0px;
        background: linear-gradient(180deg, var(--about-text-color), transparent);
        
    }

    .triangle-left {
        transform: none;
        border-width: 0px 20px 20px 20px;
        border-color: transparent transparent var(--about-text-color) transparent;
    }

    .first-name-ipa, .last-name-ipa {
        border: none;
        margin: 0;
        padding: 0;
    }

    .first-name-ipa:hover, .last-name-ipa:hover {
        color: inherit;
    }

    .first-name-ipa:hover::before, .last-name-ipa:hover::before {
        content: none;
    }

    .about-face {
        height: 450px;
    }

    .modal-content {
        margin-top: calc(100vh - 300px);
    }

}

@media only screen and (max-width: 450px) {
    .name {
        display: inline-flex;
        flex-direction: column;
        padding: 0;
    }

    .about-bold {
        padding-bottom: 20px;
        margin: 0;
    }

    .about-bold:first-of-type {
        padding-bottom: 0px;
    }

    .about-text {
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }

}

@media only screen and (max-width: 1500px) {
    .flickity-button {
        display: block;
    }
}

@media (hover: hover) {
    .banner-logo:hover {
        transform: scale(1.1);
    }
    
    .banner-logo:hover > img {
        filter: none;
    }
}

@media (hover: none) {
    .banner-logo:hover {
        pointer-events: none;
    }
    
    .banner-logo:hover > img {
        pointer-events: none;
    } 

    .banner-logo > img {
        filter: none;
    } 

 
    .carousel-cell.is-selected > .banner-logo {
        transform: scale(1.1);
    }

    .carousel-cell.is-selected > .banner-logo:not(.invert) > img {
        filter: none;
    }

    .card:hover .overlay {
        pointer-events: none;
    }

    .card:hover .card-img > img {
        pointer-events: none;
    }

    .card .overlay {
        opacity: 0.5;
    }
}

